<nav style="display:left" class="nav-item nav-link">
  <%= "Hello " + "#{current_user.username} !" if current_user %>
</nav>

<div style="float: right">
  <%= link_to 'Sign Out', destroy_user_session_path, method: :delete, class: "nav-item nav-link" if user_signed_in? %>
</div>

<div id="root"></div>
<%= javascript_pack_tag 'index' %>
